<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="css/global-pembaruan.css" />
  <link rel="stylesheet" href="css/admin-pembaruan.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" />
</head>

<body>
  <%- include('./layout/sidebar4.ejs') %>
    <%- include('./layout/header-search.ejs' , { searchAction: '/admin-pembaruan', searchQuery: searchQuery }) %> %>

      <table class="tabel-verifikasi-lapak">
        <thead>
          <tr class="informasi-table-verifikasi">
            <th>Nama Lapak</th>
            <th>Alamat</th>
            <th>Tanggal Pengajuan Perubahan</th>
            <th>Status</th>
            <th>Informasi Lapak</th>
          </tr>
        </thead>
        <tbody>
          <% if (typeof pembaruan !=='undefined' && pembaruan.length> 0) { %>
            <% pembaruan.forEach(item=> { %>
              <tr>
                <td>
                  <%= item.nama_lapak %>
                </td>
                <td>
                  <%= item.lokasi_lapak %>
                </td>
                <td class="deskripsi-table-verifikasi">
                  <%= new Date(item.tanggal_pengajuan_pembaruan).toLocaleDateString() %>
                </td>
                <td class="deskripsi-table-status">
                  <%= item.status_pembaruan_pembaruan %>
                </td>
                <td class="deskripsi-table-verifikasi">
                  <a href="/admin-pembaruan-verif/<%= item.id_pembaruan %>">
                    <button class="action-button">...</button>
                  </a>
                </td>
              </tr>
              <% }) %>
                <% } else { %>
                  <tr>
                    <td colspan="5">Tidak ada pengajuan perubahan yang menunggu.</td>
                  </tr>
                  <% } %>
        </tbody>
      </table>
      <div class="pagination">
        <a href="?page=<%= currentPage > 1 ? currentPage - 1 : 1 %>&search=<%= searchQuery %>">&laquo;</a>
        <% for (let i = 1; i <= pageCount; i++) { %>
          <a href="?page=<%= i %>&search=<%= searchQuery %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
        <% } %>
        <a href="?page=<%= currentPage < pageCount ? currentPage + 1 : pageCount %>&search=<%= searchQuery %>">&raquo;</a>
      </div>
      
      <div class="h4-heading">All (<%= dataCount %>)</div>

</body>

</html>